In [3]:
import pandas as pd 
import numpy as np

In [4]:
merged = pd.read_csv('inputs/merged.csv')
merged.describe()

,Year,SP500_Return,Percent_Change_in_GDP,CPI,Construction_Unemployment_Rate,Manufacturing_Unemployment_Rate,Finance_Unemployment_Rate
count,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000
mean,2013.500000,0.019360,1.988889,234.864106,9.511111,5.663889,3.484722
std,5.224536,0.083256,6.020003,24.654914,5.178519,2.703431,1.602872
min,2005.000000,-0.224100,-29.900000,192.366667,3.500000,2.500000,1.200000
25%,2009.000000,-0.011650,0.925000,216.656917,5.700000,3.900000,2.275000
50%,2013.500000,0.032450,2.350000,234.758833,7.700000,4.650000,2.950000
75%,2018.000000,0.062175,3.300000,250.930833,12.150000,7.025000,4.325000
max,2022.000000,0.241100,35.300000,298.525000,25.500000,12.600000,7.300000

In [7]:
# random numbers for 1 year

np.random.seed(1234)

periods = ['Q01', 'Q02', 'Q03', 'Q04']

data_random = pd.DataFrame(columns=['Year', 'Period', 'SP500_Return', 'Percent_Change_in_GDP', 'CPI'])

data_random['Year'] = [2023]*4
data_random['Period'] = periods

data_random['SP500_Return'] = np.random.uniform(low=-0.18, high=0.21, size=4)
data_random['Percent_Change_in_GDP'] = np.random.uniform(low=-20, high=25, size=4)
data_random['CPI'] = np.random.uniform(low=200, high=320, size=4)

data_random['Percent_Change_in_GDP'] = data_random['Percent_Change_in_GDP'] * (1 + 0.5*data_random['SP500_Return'])
data_random['CPI'] = data_random['CPI'] * (1 + 0.3*data_random['SP500_Return'])

data_random = data_random.round(2)
data_random

   Year Period  SP500_Return  Percent_Change_in_GDP     CPI
0  2023    Q01         -0.11                  14.30  305.03
1  2023    Q02          0.06                  -7.98  310.84
2  2023    Q03         -0.01                  -7.52  242.26
3  2023    Q04          0.13                  17.10  269.97

In [8]:
# random numbers for 10 years

np.random.seed(1234)

# create list of periods
periods = ['Q01', 'Q02', 'Q03', 'Q04']

# create empty df
data_random_10 = pd.DataFrame(columns=['Year', 'Period', 'SP500_Return', 'Percent_Change_in_GDP', 'CPI'])

# create columns
years = np.repeat(np.arange(2023, 2033), 4)
data_random_10['Year'] = years
data_random_10['Period'] = periods*10

n_quarters = len(years)
data_random_10['SP500_Return'] = np.random.uniform(low=-0.18, high=0.21, size=n_quarters)
data_random_10['Percent_Change_in_GDP'] = np.random.uniform(low=-20, high=25, size=n_quarters)
data_random_10['CPI'] = np.random.uniform(low=200, high=320, size=n_quarters)

data_random_10['Percent_Change_in_GDP'] = data_random_10['Percent_Change_in_GDP'] * (1 + 0.5*data_random_10['SP500_Return'])
data_random_10['CPI'] = data_random_10['CPI'] * (1 + 0.3*data_random_10['SP500_Return'])

data_random_10 = data_random_10.round(2)
data_random_10

    Year Period  SP500_Return  Percent_Change_in_GDP     CPI
0   2023    Q01         -0.11                 -16.40  244.45
1   2023    Q02          0.06                 -12.07  278.60
2   2023    Q03         -0.01                 -17.79  309.32
3   2023    Q04          0.13                  11.02  285.51
4   2024    Q01          0.12                   7.18  295.33
5   2024    Q02         -0.07                   3.85  213.16
6   2024    Q03         -0.07                 -17.40  283.26
7   2024    Q04          0.13                   5.61  311.66
8   2025    Q01          0.19                  -5.67  292.09
9   2025    Q02          0.16                   2.85  264.84
10  2025    Q03         -0.04                 -14.66  215.66
11  2025    Q04          0.02                   7.38  269.45
12  2026    Q01          0.09                   5.70  270.23
13  2026    Q02          0.10                 -20.66  323.40
14  2026    Q03         -0.04                   7.65  254.89
15  2026    Q04          0.04                  21.45  263.34
16  2027    Q01          0.02                  15.70  265.71
17  2027    Q02         -0.17                  22.49  282.68
18  2027    Q03          0.12                  24.55  214.39
19  2027    Q04          0.16                  16.92  294.14
20  2028    Q01         -0.04                  -7.03  288.75
21  2028    Q02          0.06                   8.36  290.10
22  2028    Q03         -0.15                   1.40  282.27
23  2028    Q04         -0.04                 -10.99  264.04
24  2029    Q01          0.18                  -3.05  333.33
25  2029    Q02          0.07                 -18.23  222.49
26  2029    Q03         -0.03                   0.32  202.03
27  2029    Q04          0.13                  25.73  281.65
28  2030    Q01         -0.06                 -14.02  210.07
29  2030    Q02          0.04                 -14.93  318.01
30  2030    Q03          0.16                  14.29  250.49
31  2030    Q04         -0.01                   6.40  222.57
32  2031    Q01          0.13                   1.30  265.10
33  2031    Q02         -0.12                 -14.24  298.91
34  2031    Q03          0.09                 -10.14  314.16
35  2031    Q04          0.09                  21.47  236.86
36  2032    Q01         -0.09                  -1.19  234.89
37  2032    Q02          0.18                   4.48  233.94
38  2032    Q03         -0.01                 -19.65  307.52
39  2032    Q04          0.17                  -7.04  299.70

In [9]:
data_random_10.to_csv('inputs/data_random_10.csv',index=False)