In [7]:
import pandas as pd 

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [5]:
merged = pd.read_csv('inputs/merged.csv')

In [6]:
merged

,Year,Period,Label,S&P500 Return,Percent Change in GDP,CPI,Construction Unemployment Rate,Manufacturing Unemployment Rate,Finance Unemployment Rate
0,2005,Q01,2005 Qtr1,-0.0259,4.5,192.366667,11.4,5.3,2.6
1,2005,Q02,2005 Qtr2,0.0091,2.0,193.666667,6.4,4.6,3.2
2,2005,Q03,2005 Qtr3,0.0315,3.2,196.600000,5.6,4.9,3.2
3,2005,Q04,2005 Qtr4,0.0159,2.3,198.433333,6.4,4.8,2.5
4,2006,Q01,2006 Qtr1,0.0373,5.5,199.466667,8.7,4.5,2.6
...,...,...,...,...,...,...,...,...,...
67,2021,Q04,2021 Qtr4,0.1040,7.0,278.706667,4.6,3.1,2.2
68,2022,Q01,2022 Qtr1,-0.0518,-1.6,284.893667,6.6,3.3,2.1
69,2022,Q02,2022 Qtr2,-0.1663,-0.6,291.535667,4.0,3.0,1.5
70,2022,Q03,2022 Qtr3,-0.0517,3.2,295.495667,3.6,3.1,1.2
71,2022,Q04,2022 Qtr4,0.0636,2.6,298.525000,4.1,2.5,1.7

## Rough Outline 

1. training set for the data 
1. need to impute missing data 
1. test set for the data

In [10]:
#preprop: splitting into training and test: 

X_train, X_test, y_train, y_test = train_test_split(merged.drop('Finance Unemployment Rate', axis=1), merged['Finance Unemployment Rate'], test_size=0.2, random_state=42)